/* RESET */
@import "./partials/reset";
/* VARIABLES */
@import "./partials/vars";
/* ANIMACIONES */
@import "./partials/anim";

/* INDEX */
.homebody {
    background: $fondocolor;
    @include headings;
} 
.margenimg {
    margin-bottom: $marimg;
}
.header {
    &__logo {
        h1 {
            margin-bottom: 0;
        }
    }
    .navmenu {
        @include barranav;
    }
}
.main {
    gap: 50px;
}
.portada__txt {
    top: 40%;
}
.section {
    gap: 50px;
}
.section__1__seleccion__boton {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
        border: solid 1px white;
        background-color: black;
        color: white;
        padding: 10px;
        transition: all 300ms;
        &:hover {
            color: lightslategray;
        }
    }
}
.section__2__title {
    h3 {
        margin-bottom: 0;
    }
}
.section__ctacto {
    background-color: black;
    color: lightslategray;
}
footer {
    background-color: black;
}

/*    Page Camisetas      */
.camisetas__body {
    background: $fondocolor;
    @include headings;
}
.camisetas__header {
    nav {
        @include barranav;
    }
}
.Camisetas__port {
    margin-bottom: 30px;
    &__txt {
        @include portadatxtcaja (40%, 1.2rem);
    }
}

/*Page Seleccion*/
.seleccion__body {
    background: $fondocolor;
    @include headings;
}
.seleccion__header {
    nav {
        @include barranav;
    }
}
.seleccion__port {
    margin-bottom: 30px;
    &__txt {
        @include portadatxtcaja (40%, 1.2rem);
    }
}

/* PAGE FORMULARIO*/
.formulario__body {
    background: $fondocolor;
    @include headings;
}
.formulario__header {
    nav {
        @include barranav;
    }
}
.formulario__main  section{
    margin-bottom: 30px;
}

/* PAGE BOTINES */
.botines__body {
    background: $fondocolor;
    @include headings;
}
.botines__header {
    nav {
        @include barranav;
    }
}
.botines__port {
    margin-bottom: 30px;
    &__txt {
        @include portadatxtcaja (40%, 1.2rem);
    }
}

/* MEDIA QUARES */
@media (max-width: 992px) {
    .portada__txt {
        font-size: 80%;
    }
    .section__1 {
        .row {
            gap: 30px;
        }
    }
}